<div class="row">
  <div class="col-xs-12">
    <!--because the component folder is within the app folder, the selector is 'app-game-control'-->
    <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control> <!--with @Output in game-control.component.ts, we can access this event here by using intervalFired listener-->
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-odd *ngFor="let currentOddNumber of oddNumbers" [number]="currentOddNumber"></app-odd> <!--property binding: we assign the currentOddNumber to the @Input() number of OddComponent-->
    <app-even *ngFor="let currentEvenNumber of evenNumbers" [number]="currentEvenNumber"></app-even>
  </div>
</div>